MACOSX_SDK_VERSION:  # [osx]
  - 11.0             # [osx]
cxx_compiler:
  - clang_bootstrap  # [osx]
  - gxx              # [linux]
  - vs2017           # [win]
c_compiler:
  - clang_bootstrap  # [osx]
  - gcc              # [linux]
  - vs2017           # [win]
vc:
  - 14
c_compiler_version:     # [osx]
  - "11.0.0"            # [osx and arm64]
  - "10.0.0"            # [osx and x86_64]
cxx_compiler_version:   # [osx]
  - "11.0.0"            # [osx and arm64]
  - "10.0.0"            # [osx and x86_64]
